<a href="https://colab.research.google.com/github/SangHyeok-Lee1227/petitions/blob/master/p01_%EA%B5%AD%EB%AF%BC%EC%B2%AD%EC%9B%90_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B3%B4%EA%B8%B0_%EB%B0%8F_%EC%8B%9C%EA%B0%81%ED%99%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 출력데이터가 지저분하게 보이지 않도록
import warnings
warnings.filterwarnings('ignore')

In [ ]:
!pip install plotnine
!pip install --upgrade pandas

Requirement already satisfied: plotnine in /usr/local/lib/python3.6/dist-packages (0.5.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from plotnine) (1.18.5)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from plotnine) (3.2.2)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from plotnine) (0.5.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from plotnine) (1.4.1)
Requirement already satisfied: mizani>=0.5.1 in /usr/local/lib/python3.6/dist-packages (from plotnine) (0.6.0)
Requirement already satisfied: descartes>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from plotnine) (1.1.0)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.6/dist-packages (from plotnine) (0.23.4)
Requirement already satisfied: statsmodels>=0.8.0 in /usr/local/lib/python3.6/dist-packages (from plotnine) (0.10.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.0->plotnine) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.0->plotnine) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.0->plotnine) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.0->plotnine) (0.10.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->plotnine) (1.12.0)
Requirement already satisfied: palettable in /usr/local/lib/python3.6/dist-packages (from mizani>=0.5.1->plotnine) (3.3.0)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.4->plotnine) (2018.9)
Collecting pandas
  Downloading https://files.pythonhosted.org/packages/c0/95/cb9820560a2713384ef49060b0087dfa2591c6db6f240215c2bce1f4211c/pandas-1.0.5-cp36-cp36m-manylinux1_x86_64.whl (10.1MB)
     |████████████████████████████████| 10.1MB 2.7MB/s
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Installing collected packages: pandas
  Found existing installation: pandas 0.23.4
    Uninstalling pandas-0.23.4:
      Successfully uninstalled pandas-0.23.4
Successfully installed pandas-1.0.5

In [1]:
import pandas as pd
from pandas.api.types import CategoricalDtype # 그래프의 값을 정렬해서 보기위해
import numpy as np

print(pd.__version__)
print(np.__version__)

1.0.5
1.18.5

In [ ]:
!pip install statsmodels

Requirement already satisfied: statsmodels in /usr/local/lib/python3.6/dist-packages (0.10.2)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.6/dist-packages (from statsmodels) (1.4.1)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.6/dist-packages (from statsmodels) (1.0.5)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from statsmodels) (0.5.1)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from statsmodels) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->statsmodels) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->statsmodels) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.0->statsmodels) (1.12.0)

In [2]:
from plotnine import *

In [5]:
# 구글 드라이브에서 csv 파일을 읽어오기 위해 gauth 인증을 합니다.
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [3]:
url = 'https://drive.google.com/file/d/16j4sQKllUwAVdQEezK5pCXuatglvtddW/view?usp=sharing'
id = '16j4sQKllUwAVdQEezK5pCXuatglvtddW'
print(id)

16j4sQKllUwAVdQEezK5pCXuatglvtddW

In [6]:
# 크롤링해 온 국민청원 데이터를 판다스를 통해 읽어온다.
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('petition.csv')

In [7]:
petitions = pd.read_csv('petition.csv', index_col=0, \
                        parse_dates=['start', 'end'])
# 데이터의 크기가 어느정도인지 본다.
petitions.shape

(377756, 7)

In [9]:
petitions.head(10)
petitions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 377756 entries, 21 to 492043
Data columns (total 7 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   start     377756 non-null  datetime64[ns]
 1   end       377756 non-null  datetime64[ns]
 2   answered  377756 non-null  int64
 3   votes     377756 non-null  int64
 4   category  377756 non-null  object
 5   title     377756 non-null  object
 6   content   377755 non-null  object
dtypes: datetime64[ns](2), int64(2), object(3)
memory usage: 23.1+ MB

In [17]:
petitions.columns
petitions.head(5)
petitions.loc[petitions["votes"]>200000].sort_values(by="votes",ascending=False)

                start  ...                                            content
article_id             ...
408609     2018-10-17  ...  2018년 10월 14일 엊그제 일어난 강서구 피시방 살인사건에 대한 청원입니다.\...
269548     2018-06-13  ...  2012년 난민법 제정으로 인해 외국인은 한달 무비자로 입국할 수 있으나 난민신청자...
10949      2017-09-06  ...                      제발 조두순 재심다시해서 무기징역으로 해야됩니다!!!
142600     2018-02-19  ...  오늘 여자 단체전 팀추월에서 김보름, 박지우 선수는 팀전인데도 불구하고 개인의 영달...
230552     2018-05-11  ...  최근 홍대 누드크로키 모델의 불법촬영 사건이 있었습니다.\n사건은 굉장히 빠르게 처...
...               ...  ...                                                ...
134590     2018-02-08  ...  김상조 공정거래위원장이 경제정의 구현을 위한  정책들에 대해서 적극적인 지지를 보냅...
273112     2018-06-17  ...  저는 기독교대한성결교회 파송 배순영선교사입니다.\n남편(백영모선교사)과 저는 필리핀...
436901     2018-11-09  ...  2010년 9월경 해군 중위가 직속상관에게 상습적 강간과 강제 추행을 당한 사건이 ...
446686     2018-11-19  ...  2018년 11월 18일 ‘일간 베스트’ 사이트에 여친인증, 전여친인증 등의제목의 ...
235102     2018-05-17  ...  한 유명 유튜버의 사례\n저는 성범죄 피해자입니다. 꼭 한번만 제 이야기를 들어주세...

[77 rows x 7 columns]

In [28]:
petitions.describe(include=np.object)
petitions["answer"] = (petitions["votes"]>200000) == 1
petitions[petitions["answer"] == 1]
petitions.shape

(377756, 8)

In [32]:
petitions.columns
petitions["duration"] = petitions["end"] - petitions["start"]
petitions.head(3)
petitions["duration"].value_counts()

30 days    366556
90 days      6754
7 days       2436
15 days      1204
60 days       806
Name: duration, dtype: int64

In [58]:
category = petitions["category"].value_counts().reset_index()
category.columns = ['category', 'counts']
category = category.rename(columns={"category":"cate", "counts":"cnt"})
category.sort_values(by="cnt", ascending=False)

           cate    cnt
0          정치개혁  59020
1            기타  46449
2        인권/성평등  33738
3         안전/환경  29196
4      교통/건축/국토  26910
5      외교/통일/국방  25705
6         육아/교육  24861
7          보건복지  23608
8           일자리  22111
9            행정  19373
10  문화/예술/체육/언론  17257
11           미래  17190
12        경제민주화  16281
13         성장동력   6991
14         반려동물   3827
15    저출산/고령화대책   3461
16         농산어촌   1778

In [63]:
petitions_unique=pd.pivot_table(petitions,index="category", aggfunc=np.sum)
petitions_unique = petitions_unique.sort_values(by='votes',ascending=False).reset_index()
petitions_unique

       category  answer  answered     votes
0        인권/성평등    23.0         9  12225998
1         안전/환경    10.0         2   6512799
2          정치개혁     7.0         2   5686172
3            기타     7.0         1   4720310
4         육아/교육     3.0         1   4420589
5          보건복지     3.0         2   4269399
6   문화/예술/체육/언론     7.0         4   4086382
7      외교/통일/국방     4.0         1   3637926
8      교통/건축/국토     3.0         2   2834727
9          반려동물     4.0         0   2023905
10        경제민주화     2.0         1   1720766
11           행정     1.0         1   1665855
12           미래     1.0         1   1120174
13          일자리     0.0         0   1113973
14         성장동력     2.0         2    866240
15    저출산/고령화대책     0.0         0    174841
16         농산어촌     0.0         0    114822

In [68]:
petitions_unique2 = petitions.groupby(by="category")['answer','answered','votes'].sum().reset_index().sort_values(by='votes',ascending=False)
petitions_unique2

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

       category  answer  answered     votes
12       인권/성평등    23.0         9  12225998
9         안전/환경    10.0         2   6512799
15         정치개혁     7.0         2   5686172
2            기타     7.0         1   4720310
11        육아/교육     3.0         1   4420589
7          보건복지     3.0         2   4269399
4   문화/예술/체육/언론     7.0         4   4086382
10     외교/통일/국방     4.0         1   3637926
1      교통/건축/국토     3.0         2   2834727
6          반려동물     4.0         0   2023905
0         경제민주화     2.0         1   1720766
16           행정     1.0         1   1665855
5            미래     1.0         1   1120174
13          일자리     0.0         0   1113973
8          성장동력     2.0         2    866240
14    저출산/고령화대책     0.0         0    174841
3          농산어촌     0.0         0    114822

In [71]:
petitions.pivot_table(index='duration', columns='category', aggfunc='sum').astype(int)

         answer                   ...    votes
category  경제민주화 교통/건축/국토 기타 농산어촌  ...      일자리 저출산/고령화대책     정치개혁       행정
duration                          ...
7 days        0        0  0    0  ...     4491         5    27809    12032
15 days       0        0  0    0  ...     6853        19      419     1232
30 days       2        3  7    0  ...  1076584    174793  5616274  1646231
60 days       0        0  0    0  ...     1938         4      672      329
90 days       0        0  0    0  ...    24107        20    40998     6031

[5 rows x 51 columns]

In [73]:
import seaborn as sns

In [75]:
sns.barplot(petitions)

TypeError: ignored